<h1>Hello World!</h1>
<!-- <cahotel-rooms></cahotel-rooms> -->
<cahotel-container>
  <h1>This is from ng-content</h1>
  <cahotel-rooms></cahotel-rooms>
  <cahotel-employee></cahotel-employee>
</cahotel-container>

<div #name>
</div>

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welcome User!
  </div>
  <div *ngSwitchCase="'Admin'">
    <cahotel-rooms></cahotel-rooms>
  </div>
  <div *ngSwitchDefault>
    You are not authorized to view this page!
  </div>
</div> -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->